<a href="https://colab.research.google.com/github/metbrian/DSPS_BFrei/blob/main/labs/inclass_nov12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cd /content/drive/MyDrive/

/content/drive/MyDrive

In [2]:
ls

'1-km downscaled urban data'/
 Allen_Final_Thesis_Presentation_Oct16.pptx
'AMS Abstract.gdoc'
'Associate Availability Form F10.gsheet'
'Brian-faculty-ta-contract - ENSC101 - F2020.docx'
'Brian-faculty-ta-contract - ENSC101 - F2020.gdoc'
'Brian Frei EmPOWER_contract.docx'
'Brian Frei EmPOWER Mentor Questionnaire.docx'
 c02.gsheet
'C02 Lab Data.gsheet'
'CEOE EmPOWER Mentee Questionnaire (1) (1).gdoc'
'CEOE EmPOWER Mentee Questionnaire (1).docx'
'CEOE EmPOWER Mentee Questionnaire (1).gdoc'
'Colab Notebooks'/
 compressed_ancillary_and_baseyear.zip
 compressed_netcdf.zip
'Copy of Associate Availability Form F10 [Availability Form].gform'
'Copy of CO2 Data 1976-2020.gsheet'
'Copy of GEOG 152 ENSO Lab: Cold Tongue Index and Indonesia Precipitation (1).gsheet'
'Copy of GEOG 152 ENSO Lab: Cold Tongue Index and Indonesia Precipitation.gsheet'
'Copy of Lab 5 - The Surface Radiation Balance.gsheet'
'Copy of Schedule Template.gsheet'
 dsps_slide_deck9.gdoc
 geo_em.d01.nc
 geo_em.d02.nc
'GEOG152 Lab 1.pptx'
'GEOG152_Lab 2 Slides.pptx'
 GEOGRID.TBL
'Getting started.pdf'
'GFD Course Project.gdoc'
'GFD Email.gdoc'
'GFD Project Outline.gdoc'
 kaggle.json
'lab1 (1).pptx'
 lab1.pptx
'Lab3 C02.gsheet'
'Lab 7 Worksheet.gsheet'
 labsyllabus.docx
 lecture1
'Lecture 6, 7 & 8.gdoc'
'Lecture 9-12.gdoc'
'Lectures 4 and 5.gdoc'
 met_em.d01.2100-06-14_18%3A00%3A00.nc
 met_em.d02.2100-06-14_18%3A00%3A00.nc
'Midlatitude Cyclones in the Pacific Northwest.gslides'
 namelist.input
 namelist.output
 namelist.wps
'NewGFD Cush-Rois.gdoc'
'NewGFD Cush-Rois.pdf'
 NSF_GRFP/
'Official Resume.pdf'
 Organizer.gsheet
'OSW Project Final Draft.gdoc'
 phys_661/
'physics_urban_comp (1).pptx'
 physics_urban_comp.pptx
'Slide Deck 8.gdoc'
 SOILPARM.TBL
'ssp5_2100_compressed (1).nc'
'ssp5_2100_compressed (2).nc'
 ssp5_2100_compressed.nc
 ssp5_2100.nc.zip
 subset_nesting.pptx
'Untitled document.gdoc'
 URBPARM.TBL
 URBPARM_UZE.TBL
 VEGPARM.TBL
'Wind Ramp Research'/
 wrfout_d01_2100-06-14_18%3A00%3A00
 wrfout_d02_2100-06-14_18%3A00%3A00

In [3]:
!mkdir .kaggle/

In [4]:
!mv kaggle.json .kaggle/

In [5]:
ls .kaggle

kaggle.json

In [6]:
!chmod 600 .kaggle/kaggle.json

In [10]:
import json
envs = json.load(open(".kaggle/kaggle.json", "r"))

In [12]:
import os
os.environ["KAGGLE_USERNAME"] = envs["username"]
os.environ["KAGGLE_KEY"] = envs["key"]

In [13]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [14]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-11-10 18:11:20          15438
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           9383
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           4197
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3428
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2587
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1550
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1814
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1072
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1262
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            474
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            456
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1001
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            198
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            175
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            156
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            225
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         157337
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         148041
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          29494
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          24612

In [15]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv to /content/drive/My Drive
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 4.04MB/s]
Downloading train.csv to /content/drive/My Drive
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 15.9MB/s]
Downloading gender_submission.csv to /content/drive/My Drive
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 440kB/s]

In [16]:
!mkdir Titanic

In [17]:
cd Titanic/

/content/drive/My Drive/Titanic

In [18]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv to /content/drive/My Drive/Titanic
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 8.26MB/s]
Downloading test.csv to /content/drive/My Drive/Titanic
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 3.48MB/s]
Downloading gender_submission.csv to /content/drive/My Drive/Titanic
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 433kB/s]

In [19]:
ls -ltr

total 92
-rw------- 1 root root 61194 Nov 12 20:18 train.csv
-rw------- 1 root root 28629 Nov 12 20:18 test.csv
-rw------- 1 root root  3258 Nov 12 20:18 gender_submission.csv

In [20]:
import pandas as pd

In [30]:
titanic = pd.read_csv("train.csv")

In [31]:
titanic.shape

(891, 12)

In [32]:
titanic.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [24]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [33]:
mytitanic = titanic[["Age", "Sex", "Pclass", "Survived"]]

In [34]:
mytitanic.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
mytitanic.head()

    Age     Sex  Pclass
0  22.0    male       3
1  38.0  female       1
2  26.0  female       3
3  35.0  female       1
4  35.0    male       3

In [35]:
mytitanic["gender"] = titanic.Sex.map({'male':0, 'female':1})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
from sklearn import tree

In [38]:
t1 = tree.DecisionTreeClassifier(max_depth=3).fit(mytitanic[["Age", "gender", "Pclass"]], mytitanic.Survived)  #first part creates the object, second part fits it to the data

In [39]:
t1.score(mytitanic[["Age", "gender", "Pclass"]], mytitanic.Survived)

0.8081232492997199

In [40]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_Train, y_test = train_test_split(mytitanic[["Age", "gender", "Pclass"]], mytitanic.Survived, test_size=0.2)

In [46]:
t1 = tree.DecisionTreeClassifier(max_depth=3, random_state=555).fit(X_train, y_Train)

In [47]:
t1.score(X_train, y_Train), t1.score(X_test, y_test)

(0.8038528896672504, 0.8251748251748252)

If test set underperforms compared to traiing set?? model is too complex