<a href="https://colab.research.google.com/github/metbrian/DSPS_BFrei/blob/main/HW3/KS_earthquakes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Created by FedericaBBianco @fedhere for DSPS/MLNPS
# Kolmogorov Smirnoff test, application to earthquake data

In [2]:
#all the imports I needed
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats
%pylab inline
pl.style.use("https://raw.githubusercontent.com/fedhere/DSPS/master/fbb.mplstyle")

Populating the interactive namespace from numpy and matplotlib

This homework asks you to reproduce the work in [Corral 2018](https://arxiv.org/pdf/0910.0055.pdf) which is well described, but not "reproducible". 
Corral 2018 uses a K-S test to show that at different magnitude scales the time gaps between earthquakes follows the same distribution. If true, this indicates that there is a consistent scaling law. 

The argument is a little convoluted, but it is a somewhat innovative use of the test. Corall compares the time gap between earthquakes  greater than a certain magnitude threshold with the time gaps between earthquakes above a different threshold, and finds no differences.

Remind yourself exactly what the K-S test is about :

    1 What is the test's Null Hypothsis that the K-S test tests?

The Null hypothesis for this study is that the timing bewteen earthquakes is related to the magnitude of the earthquakes through a scaling law.

    2 What is the "statistic" or "pivotal quantity" that the test uses?

The pivotal quantity is the maximum vertical distance between cumulative distributions of interval times between earthquakes of different magnitude-thresholds.

    3 What does the probability distribution of this statistic depend on?

The probability distribution depends on a few factors including: earthquake magnitude threshold, and minimum threshold timing between events.

# Data Retrival

The first reason why the paper is not techincally _reproducible_ is that, while a link is provided to retrieve the data, the link is dead. This happens often. Services like [Zenodo](https://zenodo.org/) or journals that serve data provide some insurance against this but unfortunately the standards are not strict.

You can retrieve the data yourself from [this website](http://service.scedc.caltech.edu/eq-catalogs/poly.php). Think about what setting up data like this means for reproducibility. Did the author comply to reproducibility standards?__ Make sure the number of entries in your final dataset is similar to that of the authors. I got 70798, instead of 77000. 10% off, which I deem close enough. You should get something similar. Use the map in the paper to determine the region of interest. Call the file earthquakes_\<firstinitialLastname\>.csv and upload it to your github repository. Read it your file, instead of mine as instructed below. If you are getting weird results compare to what I got, go back and check how the files differ.

# Data Ingestion

## read in data

I saved the data in a file called "earthquakes.csv", where ```csv``` stands for "comma separated file". [This file format](https://www.howtogeek.com/348960/what-is-a-csv-file-and-how-do-i-open-it/) requires different entries in a row to be separated by commas alone (no space) and for commas to be used in quote if they are not intended to separate entries. 

```
a,b,c
d,e,f
g,"h,2",i
```
The data is uploaded on the  github homework repository but to read it in you will need to get the link to the *raw file*: the link to the file earthquakes.csv which is in my GitHub repository https://github.com/fedhere/MLPNS2021/tree/main/HW2_NHRT takes you to an ```html``` page that includes the content of the file, but you want to isolate the content of the file itself: the _raw file_. Pay attention to this: from the next time I will not give you the exact link, I will just point you to the file and you will have to find the link to the raw data from there. (remember to use the "raw" link)

The data can be read effectively using the _pandas_ python package as ```pandas.read_csv(<file name or URL>)```. 

However, I did not format the data correctly, according to the csv extension requirement. This happens all the time. Look at the file and use the pandas documentation to figure out how to read it with ```pd.read_csv()```

In [3]:
#your code here...
eqdata = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS_FBianco/master/HW3/earthquakes.csv",sep=" ")

running the following lines of code should give you the same result as mine if you used the file I provided (467 students), and qualitatively  similar if you are using your own data (667 students)

In [4]:
eqdata.shape

(70798, 34)

In [5]:
eqdata.head()

,#YYY/MM/DD,HH:mm:SS.ss,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.246,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.945,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.343,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.963,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
eqdata.describe()

,GT,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,LAT,Unnamed: 11,Unnamed: 12,Unnamed: 15,Unnamed: 16,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
count,0.0,70798.000000,0.0,0.0,70798.000000,70798.00000,0.0,9648.000000,7.359000e+03,4.628900e+04,...,3387.000000,469.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,2.417826,NaN,NaN,33.977749,-116.88145,NaN,13.354343,6.097558e+06,4.482677e+06,...,43.415412,14.746269,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.407683,NaN,NaN,1.156586,1.07667,NaN,2.724517,4.441852e+06,3.130379e+06,...,24.266088,17.013243,2.828427,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,2.000000,NaN,NaN,30.094830,-121.76000,NaN,10.000000,1.000432e+06,1.070000e+02,...,0.000000,0.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.120000,NaN,NaN,33.061000,-117.69200,NaN,11.200000,3.041641e+06,3.031237e+06,...,24.000000,0.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.300000,NaN,NaN,34.056750,-116.59000,NaN,12.800000,3.229114e+06,3.110080e+06,...,38.000000,13.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2.590000,NaN,NaN,34.591000,-116.25100,NaN,14.900000,9.669999e+06,9.027968e+06,...,61.000000,24.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,7.100000,NaN,NaN,37.985500,-113.71900,NaN,29.300000,3.736673e+07,9.875061e+06,...,145.000000,88.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

now that you have a dataframe object you can use methods of the object to modify it. Use the method ```eqdata.rename``` to change the names of the 3 columns that are the only three relevant to us: _date, time, magnitude_

## prepare date-time column

In [7]:
# your code here...
eqdata = eqdata[['#YYY/MM/DD', 'HH:mm:SS.ss', 'Unnamed: 5']].rename({'#YYY/MM/DD':"date", 'HH:mm:SS.ss':"time", 'Unnamed: 5':"mag"}, axis = 1)

In [8]:
eqdata.head()

         date         time   mag
0  1984/01/01  01:30:57.52  2.02
1  1984/01/01  05:31:34.16  2.12
2  1984/01/01  06:59:05.14  2.43
3  1984/01/01  11:10:25.29  2.07
4  1984/01/01  19:38:19.79  2.13

In [9]:
eqdata.describe()

                mag
count  70798.000000
mean       2.417826
std        0.407683
min        2.000000
25%        2.120000
50%        2.300000
75%        2.590000
max        7.100000

Now you want to combine the columns containing date and time and convert them to a "datetime" kind of data object.

What data type are the _time_ and _date_ columns right now? What type you want them to be to conver them to datetime with ```pd.datetime()```? type 'O' means object, typically a string.

In [10]:
eqdata.time.dtype, eqdata.date.dtype

(dtype('O'), dtype('O'))

to do this conversion I 

   1. joined date and time into a single string for each row with a ["list comprehension"](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python) (essentially a for loop but more efficient and compact). You do not have to do it with a list comprehension, you can use just a for loop.

   2. used pd.datetime() to convert the resulting new dataframe column into a dataframe column containing _datetime_ objects (see lab)

   3. but this did not work because of the formatting of some dates, so I had to go back and fix 5 entries. (you are on your own to figure out this one)

In [11]:
# your code here
eqdata["datetime"] = [eqdata.iloc[i].date + " " + eqdata.iloc[i].time for i in range(eqdata.shape[0])]

In [12]:
eqdata["datetime"] = eqdata["datetime"].str.replace("60.00","59.99")

In [13]:
eqdata["datetime"] = pd.to_datetime(eqdata["datetime"])

In [14]:
eqdata.head()

         date         time   mag                datetime
0  1984/01/01  01:30:57.52  2.02 1984-01-01 01:30:57.520
1  1984/01/01  05:31:34.16  2.12 1984-01-01 05:31:34.160
2  1984/01/01  06:59:05.14  2.43 1984-01-01 06:59:05.140
3  1984/01/01  11:10:25.29  2.07 1984-01-01 11:10:25.290
4  1984/01/01  19:38:19.79  2.13 1984-01-01 19:38:19.790

In [15]:
eqdata.datetime.dtype

dtype('<M8[ns]')

## select valuable data

Following the description in Section 2  of Corral 2018 I removed all data that did not belong to a "stationary" period. Third paragraph section 2 of Corral 2018. You can see the cell of code I used to do this [here](https://github.com/fedhere/DSPS/blob/master/HW3/Corral2018_selectStationary.py) at no points cost, cause it was a bit tricky, but I encourage you to try and do it yourself. If you can do it in fewer lines than I did its automatically +5 points (just turning the loop into a list comprehension does not count. That is an obvious way to decrease the number of lines of code; I did not do it simply to enhance readability.)

In [16]:
# your code here
# Create a numpy array with the decimal intervals
# We saved is a a 1D array, where the intervals are arranged continously
# The even positions represent the start year and the next odd position the end year
rango = np.array([1984, 1986.5, 
          1990.3, 1992.1, 
          1994.6, 1995.6,
          1996.1,1996.5, 
          1997,1997.6, 
          1997.75,1998.15, 
          1998.25,1999.35, 
          2000.55,2000.8,
          2000.9 ,2001.25, 
          2001.6 ,2002, 
          2002.5 ,2003])

In [17]:
# Convert the decimal date to datetime
# We reduced the lines of code by using numpy arrays and pandas function to_timedelta
ss = pd.to_datetime(rango.astype(int), format="%Y") + pd.to_timedelta(((rango-rango.astype(int))*365.25), unit = 'd')

In [18]:
ss

DatetimeIndex(['1984-01-01 00:00:00', '1986-07-02 15:00:00',
               '1990-04-20 13:48:00', '1992-02-06 12:36:00',
               '1994-08-08 03:36:00', '1995-08-08 03:36:00',
               '1996-02-06 12:36:00', '1996-07-01 15:00:00',
               '1997-01-01 00:00:00', '1997-08-08 03:36:00',
               '1997-10-01 22:30:00', '1998-02-24 18:54:00',
               '1998-04-02 07:30:00', '1999-05-08 20:06:00',
               '2000-07-19 21:18:00', '2000-10-19 04:48:00',
               '2000-11-24 17:24:00', '2001-04-02 07:30:00',
               '2001-08-08 03:36:00', '2002-01-01 00:00:00',
               '2002-07-02 15:00:00', '2003-01-01 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [19]:
eqdata.head()

         date         time   mag                datetime
0  1984/01/01  01:30:57.52  2.02 1984-01-01 01:30:57.520
1  1984/01/01  05:31:34.16  2.12 1984-01-01 05:31:34.160
2  1984/01/01  06:59:05.14  2.43 1984-01-01 06:59:05.140
3  1984/01/01  11:10:25.29  2.07 1984-01-01 11:10:25.290
4  1984/01/01  19:38:19.79  2.13 1984-01-01 19:38:19.790

In [ ]:
# The list ids is going to store the indices of the dataframe that are between the active years
# We do that, by iterating over ss and storing the indices whose date time lies in the range
ids = []
for i in range(int(ss.shape[0]/2)):
  ids.extend(eqdata[(eqdata.datetime >= ss[2*i]) & (eqdata.datetime <= ss[2*i+1])].index.tolist())

In [ ]:
goodData = eqdata.iloc[ids]

In [ ]:
print ("the {} timestamp pairs that are the boundaries of good data periods are: \n{} ".format(len(ss),ss.values))

the 22 timestamp pairs that are the boundaries of good data periods are:
['1984-01-01T00:00:00.000000000' '1986-07-02T15:00:00.000000000'
 '1990-04-20T13:48:00.000000000' '1992-02-06T12:36:00.000000000'
 '1994-08-08T03:36:00.000000000' '1995-08-08T03:36:00.000000000'
 '1996-02-06T12:36:00.000000000' '1996-07-01T15:00:00.000000000'
 '1997-01-01T00:00:00.000000000' '1997-08-08T03:36:00.000000000'
 '1997-10-01T22:30:00.000000000' '1998-02-24T18:54:00.000000000'
 '1998-04-02T07:30:00.000000000' '1999-05-08T20:06:00.000000000'
 '2000-07-19T21:18:00.000000000' '2000-10-19T04:48:00.000000000'
 '2000-11-24T17:24:00.000000000' '2001-04-02T07:30:00.000000000'
 '2001-08-08T03:36:00.000000000' '2002-01-01T00:00:00.000000000'
 '2002-07-02T15:00:00.000000000' '2003-01-01T00:00:00.000000000']

The following cell of code shows you the array of bool values (True/False) which I create to use as an index to the input array: when used as an index, a technique called "broadcasting" in python, will select only elements of the original array where the index array value is True. something like 
Try:

In [ ]:
a = np.array([0, 1, 2])
a, a[[True, False, True]]

(array([0, 1, 2]), array([0, 2]))

For each of the 11 valid periods I create a condition 
``` datetime >= period_start AND datetime <= period_end ``` where AND is a product of booleans: True * False = False.

I want to take all chinks of data that satisfy this condition for any of the 11 chunks of time so that is a logical OR operator, or a sum of Booleans: True + False = True 

This is because ```True``` really corresponds to "not 0" and False to "0". So ```"not 0" * 0 = 0``` and ```"not 0" + 0 = not 0```

In [ ]:
# your code here
# goodDates is already a dataframe, we don't need to create a different one

In [ ]:
print ("there are {} earthquakes falling in the selected stationary periods".
       format(goodData.shape[0]))

there are 18854 earthquakes falling in the selected stationary periods

The 18,854 earthquakes found inside the stationary periods is roughly 5% less thatn the 19,911 found in Dr. Bianco's code. This relatively minor difference can mostlikely be attributed to slight differences in the method of determining what events fit into the stationary periods, and will not significantly impact results.

In [ ]:
goodData.head()

         date         time   mag                datetime
0  1984/01/01  01:30:57.52  2.02 1984-01-01 01:30:57.520
1  1984/01/01  05:31:34.16  2.12 1984-01-01 05:31:34.160
2  1984/01/01  06:59:05.14  2.43 1984-01-01 06:59:05.140
3  1984/01/01  11:10:25.29  2.07 1984-01-01 11:10:25.290
4  1984/01/01  19:38:19.79  2.13 1984-01-01 19:38:19.790

Now what you really want is the _time interval between earthquakes_ for all events greater than some magnitude m, while all you have are the date and time of the events.: 

You can remove earthquakes smaller than magnitude 2 by, again, broadcasting. How would that look like?

In [ ]:
# your code here
goodData = goodData[goodData.mag >= 2]

In [ ]:
goodData.shape #It didn´t dropped the data, as stated on the template, because when downloadaed the data was selected to have magnitude greater than 2

(18854, 4)

You can get the time between consecutive earthquakes with the method ```diff()``` of numpy arrays (in a pandas series you can get the data as a numpy array with the attribute .values: ```seried.values```).

In [ ]:
#your code here
# Get the time difference between succesive events
goodData["dts"] = goodData["datetime"].diff()
gaps = np.diff(goodData["datetime"].values).astype(float)

# We drop the zeroth row before adding the gaps' column, because it has the NaT value
# and gaps' is one element smaller than the dataframe
# this size different arises because np.diff doesn't have the NaT value
goodData.drop(0, inplace = True)
# We reset the index just to avoid problems later if the dataframe first row is 1 instead of 0
goodData.reset_index(drop = True, inplace = True)
# We create the gaps column
goodData["gaps"] = gaps

In [ ]:
goodData.head()

,date,time,mag,datetime,dts,gaps
0,1984/01/01,05:31:34.16,2.12,1984-01-01 05:31:34.160,0 days 04:00:36.640000,1.443664e+13
1,1984/01/01,06:59:05.14,2.43,1984-01-01 06:59:05.140,0 days 01:27:30.980000,5.250980e+12
2,1984/01/01,11:10:25.29,2.07,1984-01-01 11:10:25.290,0 days 04:11:20.150000,1.508015e+13
3,1984/01/01,19:38:19.79,2.13,1984-01-01 19:38:19.790,0 days 08:27:54.500000,3.047450e+13
4,1984/01/01,19:39:19.67,2.13,1984-01-01 19:39:19.670,0 days 00:00:59.880000,5.988000e+10

In [ ]:
goodData.shape

(18853, 6)

In [ ]:
goodData.describe()

                mag                         dts          gaps
count  18853.000000                       18853  1.885300e+04
mean       2.399406   0 days 08:49:59.865924256  3.179987e+13
std        0.392424  12 days 18:41:14.463355848  1.104074e+15
min        2.000000      0 days 00:00:00.170000  1.700000e+08
25%        2.110000      0 days 00:45:33.640000  2.733640e+12
50%        2.290000      0 days 02:28:58.520000  8.938520e+12
75%        2.560000      0 days 05:55:10.180000  2.131018e+13
max        5.800000   1388 days 04:15:56.490000  1.199386e+17

Note that the first entry will be NaT which is Not a Time (corresponding to nan for numerical variables) or maybe a negative number (depends on your exact operations above). You should remove it

In [ ]:
# your code here

In [ ]:
goodData.head()

,date,time,mag,datetime,dts,gaps
0,1984/01/01,05:31:34.16,2.12,1984-01-01 05:31:34.160,0 days 04:00:36.640000,1.443664e+13
1,1984/01/01,06:59:05.14,2.43,1984-01-01 06:59:05.140,0 days 01:27:30.980000,5.250980e+12
2,1984/01/01,11:10:25.29,2.07,1984-01-01 11:10:25.290,0 days 04:11:20.150000,1.508015e+13
3,1984/01/01,19:38:19.79,2.13,1984-01-01 19:38:19.790,0 days 08:27:54.500000,3.047450e+13
4,1984/01/01,19:39:19.67,2.13,1984-01-01 19:39:19.670,0 days 00:00:59.880000,5.988000e+10

# data exploration
At this point you should wonder if this is the final dataset that you want to use and if anything is weird or suspicious about it. Visualize the distribution. A good way to visualize distributions is a histogram which you can prodice with pl.hist() or as a method of your dataframe series as ```df[SeriesName].plot(kind="hist")```. Produce a plot like the one below (label the axis! and describe it with a caption!). To get the logarithmic y axis you can se ```logy=True```, for example. in your ```df[SeriesName].plot``` call.

In [ ]:
yscale('log')
pl.hist(goodData["gaps"])
pl.xlabel('Interval between Earthquakes (nanoseconds)')
pl.ylabel('Number Earthquakes')
pl.title('Histogram of Earthquakes (>=Mag 2)',fontsize=18)

Text(0.5, 1.0, 'Histogram of Earthquakes (>=Mag 2)')

/Users/home/miniconda3/lib/python3.6/site-packages/matplotlib/font_manager.py:1241: UserWarning: findfont: Font family ['["sans-serif"]'] not found. Falling back to DejaVu Sans.
  (prop.get_family(), self.defaultFamily[fontext]))

The thing that worries me is that by removing some sections of the data to use only stationary periods we created some artificially large gaps: gaps of order ~month. How many nanoseconds in a month? remove all gaps that are larger than about a month and see how the distribution looks (make another histogram).

Considering that a month is 2.628e+15 ns, we can remove from the dataset all the rows with gap greater than this value

In [ ]:
# your code here 
monthNs = 2.628e15
goodData = goodData[goodData.gaps < monthNs]

In [ ]:
goodData.head(), goodData.shape[0]

In [ ]:
yscale('log')
pl.hist(goodData["gaps"])
pl.xlabel('Interval between Earthquakes (nanoseconds)')
pl.ylabel('Number of Earthquakes')
pl.title('Histogram of Earthquakes (>=Mag 2)', fontsize = 18)

With month-long gaps removed, the histogram is much easier to read. The distribution is heavily weighted towards short intervals between earthquakes, with decreasing frequency as the intervals increase.

# data analysis

### important: the paper does not do it but I want you to formally choose a threshold before you do this test. Choose a p-value (=$\alpha$ thresold: call your variable ```alpha```) of 3-$\sigma$.

Follow the instructions (algorithm) in **Section 3 paragraph 3** and compare your results with the results in table 1 with a threshold  of = 0.01 and 0.001

Do it for all 5 magnitude thresholds as indicated in the paper (and in Table 1).

Note that the x axis in plot Fig 1 is in _log space_. Use ```np.log10()``` to take the logarithm of the time gaps.

The pseudocode for the algorithm is [here](https://github.com/fedhere/DSPS/blob/master/HW3/Corral2018_pseudocode.md).

Reproduce the paper Fig 1 and Table 1. In the Table report the size of each dataset after cleaning the value of the statistic and the p-value, as done in Corral 2018. Use the scipy function for the 2 sample KS test. (resources [here](https://colab.research.google.com/notebooks/markdown_guide.ipynb#scrollTo=70pYkR9LiOV0) to learn about the table syntax in markdown)

In [ ]:
m = [0.01,0.001]
selectedMag = [2,2.5,3,3.5,4]

In [ ]:
goodData[goodData["mag"]>=4]["gaps"].mean()

In [ ]:
goodData.gaps.mean()

In [ ]:
colum = ['mag', 'm', 'N']
for i in selectedMag:
  colum.append(str(i))
table1 = pd.DataFrame(columns = colum)

In [ ]:
for i in m:
  for j in selectedMag:
    for k in [1,2]:
      Rk = 1/goodData[goodData["mag"] >= j]["gaps"].mean()
      # We select the indices of the rows that are below the threshold
      indexTemp = goodData[(goodData.mag >= j) & (goodData.gaps <= i)].index.tolist()
      # Normalize the gap by multiplying the constant Rk
      goodData["gaps"] = np.where(goodData["gaps"] >= j, goodData["gaps"]*Rk, goodData["gaps"])
      # Drop the entries below the threshold
      goodData.drop(indexTemp, inplace=True)      
 
  for j in range(len(selectedMag)):
    # Create a temporal list to store the data to be included in table1
    # It contains the magnitude, threshold, number of events
    insertTemp = [selectedMag[j], i, goodData[goodData.mag >= selectedMag[j]].shape[0]]
    
    for k in range(len(selectedMag)):
      temp = stats.ks_2samp(np.log(goodData[goodData.mag >= selectedMag[j]]["gaps"]), np.log(goodData[goodData.mag >= selectedMag[k]]["gaps"]))
      temp = stats.ks_2samp(np.log(goodData[goodData.mag >= selectedMag[j]]["gaps"]), np.log(goodData[goodData.mag >= selectedMag[k]]["gaps"]))
      if k > j :
        insertTemp.append(str(round(temp[1]*100)) + "%")
      elif j > k:
        insertTemp.append(str(round(temp[0],3)))
      else:
        insertTemp.append("-")
    
    insertTemp = dict(zip(table1.columns.tolist(),insertTemp))
    table1 = table1.append(insertTemp, ignore_index = True)

In [ ]:
table1

In [ ]:
Write table caption here- describing k-s test results, p-values

Let's check that in fact we normalized the dataset

In [ ]:
goodData.head()

In [ ]:
ax_prob = pl.figure(figsize = (10,6)).add_subplot(111)
for i in selectedMag:
  # Total numer of events with magnitude greater or equal than i
  temp = goodData[goodData.mag >= i]["gaps"]
  total = temp.shape[0]
  print("total {}, mag {}".format(total,i))
  # Create an equally spaced interval to count the number of events
  x_axis = np.linspace(temp.min(),temp.max(),1000)
  y_axis = np.zeros(x_axis.size)
  for j in range(x_axis.size):
    y_axis[j] = temp[temp <= x_axis[j]].shape[0] / total
  
  ax_prob.plot(x_axis,y_axis,label=i)

ax_prob.set_xscale('log')
pl.title('Cumulative Probability Distributions',fontsize=20)
pl.xlabel('Earthquake Intervals (logarithmic)')
pl.ylabel('Cumulative Probability')
pl.legend()

Write caption of figure here - confirming table results graphically.

Did you find any statistical significant differences between the distributions? What does it mean? Is your result identical to Correll's 2018? Why or why not? **Discuss!**

### "extra credits"

**How could you _force_ a significant result?**
Organize your result for different magnitude threshold in a numpy array (it should be a 5x5 array) for both cutoffs (0.01 and 0.001). Each of these arrays should contain the p-value for the pair of distributions i,j in cell \[i\]\[j\] and \[j\]\[i\]. Use ```imshow``` to visualize this 2D data. FIrst visualize the matrix itself as done below.

In [ ]:
# your code here
        
pl.imshow((ks_001));
pl.axis('off')
cb = pl.colorbar()
cb.ax.set_ylabel(r'$p$-value')
pl.title("KS test results");
#add a caption


Now visualize the result as a matrix where the cells are white if the results is not statistically significant and red otherwise. 
After doing it fot the set alpha threshold, lower your alpha threshold so that at least one pair of distribution has a statistically significant difference. **Warning!! this is an _unethical and horrifying practice_! Once you chose your significance threshold you are never allowed to change it! Why? Discuss**

Redoing it for threshold 0001